[Unit]
Description=Ollama Container
After=local-fs.target

[Container]
Image=docker.io/ollama/ollama:0.19.0
AddDevice=nvidia.com/gpu=all
PublishPort=127.0.0.1:11434:11434/tcp
Volume=ollama:/root/.ollama:Z
Timezone=local
Environment=OLLAMA_NO_CLOUD=1
Environment=OLLAMA_KV_CACHE_TYPE=q8_0
Entrypoint=
Exec=/bin/sh -c "exec /bin/ollama serve 2>&1"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target